body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.logo {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  line-height: 0.02em;
}

.nav-link:hover {
  color: #404bbf;
  font-size: 16px;
  text-decoration: underline;
  border-radius: 2px;
}

address a {
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
}

address a:hover {
  color: #404bbf;
}
