body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
/* Header */
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.page-nav {
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.nav-link {
  color: #2e2f42;
  text-decoration: none;
  line-height: 0.02em;
}

.nav-link:active {
  color: #404bbf;
  font-size: 16px;
  text-decoration: underline;
  border-radius: 2px;
}

address a {
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-style: normal;
}

address a:active {
  color: #404bbf;
}

/* Section-hero */
.section-hero {
  background-color: #2e2f42;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  letter-spacing: 0.02em;
}
.button-service {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-service:hover {
  background-color: #404bbf;
}
